/* UC 1 */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgba(240, 227, 227, 0.281);
}
Header {
  height: 10vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-left: 122px;
  text-transform: uppercase;
}
img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
h1 {
  margin-right: 500px;
  font-size: larger;
}
.heading-emp {
  color: #82a70c;
}
.heading-payroll {
  color: #42515f;
}
.main-container {
  width: 80vw;
  margin-left: 125px;
  margin-top: 20px;
}
.container {
  width: inherit;
  display: flex;
  flex-direction: column;
}
.datahead {
  display: flex;
  justify-content: space-between;
}
.search-adduser {
  display: flex;
}
.searchlogo {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 3px;
  width: 60px;
  height: 40px;
  padding: 8px 20px;
  margin-right: 10px;
}

.emp-text {
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #82a70c;
  text-transform: capitalize;
}

* {
  box-sizing: border-box;
}

.add-button {
  font-size: 22px;
  font-family: Roboto;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  min-width: 140px;
  padding: 10px;
  cursor: pointer;
  background: #82a70c 0% 0% no-repeat padding-box;
  border: 1px solid #969696;
  border-radius: 5px;
  text-decoration: none;
}

.table {
  border-collapse: separate;
  border-spacing: 0px 5px;
  margin-top: 20px;
}
thead > tr > th {
  text-align: center;
}
td,
th {
  text-align: center;
  padding: 5px 8px;
}
th {
  background: #42515f no-repeat padding-box;
  text-align: left;
  font-size: small;
  color: #ffffff;
  text-transform: uppercase;
}
.datarow {
  margin-bottom: 20px;
  background-color: #ffffff;
  font-size: smaller;
}
.icon-name {
  display: flex;
  align-items: center;
  justify-content: left;
}
.profile-img {
  width: 30px;
  height: 30px;
  margin-left: -15px;
}
.depart {
  background-color: #e9fea5;
  margin-right: 5px;
  border-radius: 10px;
  padding: 3px 6px;
}
.delete-icon,
.edit-icon {
  margin-right: 10px;
  width: 25px;
  height: 28px;
  cursor: pointer;
}
.delete-icon:hover {
  color: red;
}
.edit-icon:hover {
  color: blue;
}
